<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="save(form.value)" #form="ngForm" novalidate>

      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" [(ngModel)]="product.title" name="title" type="text" class="form-control" required #title="ngModel">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is Required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-addon">$</span>
          <input id="price" [(ngModel)]="product.price" name="price" type="number" class="form-control" required #price="ngModel" [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="product.category" name="category" class="form-control" required #category="ngModel">
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key">{{c.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          <span>Category is required.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" class="form-control" required url #imageUrl="ngModel">
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
          <div *ngIf="imageUrl.errors.url">Image URL must be a valid URL.</div>
        </div>
      </div>

      <button class="btn btn-primary">Save</button>
      <button class="btn btn-danger" (click)="delete()" type="button">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>


